@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

nav {
  width: 100%;
  padding: 25px 70px;
  border-radius: 0 0 0 60px;
  background: hsl(356, 100%, 66%) url("../images/bg-pattern-intro-desktop.svg") center no-repeat;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .left-side {
  display: flex;
  align-items: center;
}
nav .left-side i {
  margin-left: 5px;
}
nav .dropdown {
  position: relative;
  display: block;
  cursor: pointer;
}
nav .dropdown-menu {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  padding: 0.75rem;
  border-radius: 0.25rem;
  background-color: #fff;
  color: hsl(207, 13%, 34%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
nav .dropdown-menu a {
  text-decoration: none;
}
nav .dropdown-menu a:hover {
  color: hsl(240, 10%, 16%);
}
nav .link {
  margin-left: 10px;
  padding: 0;
  font-size: 18px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
nav .link:hover {
  text-decoration: underline;
}
nav .dropdown.active > .link,
nav .dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
nav .right-side {
  display: flex;
  align-items: center;
}
nav .right-side a {
  display: block;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  background: transparent;
  transition: all 0.15s;
}
nav .right-side a:hover {
  background: #fff;
  color: hsl(356, 100%, 66%);
}

header {
  width: 100%;
  margin-top: 50px;
}
header .header-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .header-area .title {
  font-size: 45px;
  color: #fff;
}
header .header-area p {
  font-size: 18px;
  color: hsl(240, 2%, 79%);
}
header .header-area .link-area {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
header .header-area .link-area a {
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  transition: all 0.15s;
}
header .header-area .link-area a:hover {
  background: #fff;
  color: hsl(356, 100%, 66%);
}

#container {
  width: 100%;
  height: 100vh;
}
#container h1 {
  margin-top: 100px;
  text-align: center;
  color: hsl(208, 49%, 24%);
}

.content-area1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-area1 img {
  margin-top: 50px;
}
.content-area1 .mobile-picture {
  display: none;
}
.content-area1 .content {
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-area1 .content h3 {
  color: hsl(208, 49%, 24%);
}
.content-area1 .content .description1,
.content-area1 .content .description2 {
  margin: 20px 0;
}
.content-area1 .content .description1 p,
.content-area1 .content .description2 p {
  margin-top: 20px;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
  color: hsl(207, 13%, 34%);
}

.content-area2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
  border-radius: 0 60px 0 60px;
  background: hsl(240, 10%, 16%) url("../images/bg-pattern-circles.svg") left no-repeat;
}
.content-area2 .content2 {
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-area2 .content2 .title2 {
  margin-bottom: 20px;
  color: #fff !important;
}
.content-area2 .content2 p {
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.content-area3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-area3 .content3 {
  margin: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-area3 .content3 h3 {
  color: hsl(208, 49%, 24%) !important;
}
.content-area3 .content3 .description3,
.content-area3 .content3 .description4 {
  margin-bottom: 20px;
}
.content-area3 .content3 .description3 p,
.content-area3 .content3 .description4 p {
  margin-top: 20px;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
  color: hsl(207, 13%, 34%);
}
.content-area3 .mobile-picture-2 {
  display: none;
}

footer {
  width: 100%;
  margin-top: 20px;
  padding: 50px;
  border-radius: 0 60px 0 0;
  background: hsl(240, 10%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  margin-bottom: 10%;
}
footer .footer-area {
  margin: auto;
  display: flex;
  justify-content: center;
}
footer .footer-area .link-footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-area .link-footer .title-footer {
  color: #fff;
}
footer .footer-area .link-footer a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
}
footer .footer-area .link-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  nav .menu {
    display: none;
    background: #fff;
  }
  nav .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
  }
  nav .link {
    width: 100%;
    height: 0;
    padding: 0;
    color: black;
    position: unset;
    border-radius: 5px;
  }
  nav .link i {
    color: hsl(356, 100%, 66%);
  }
  nav .mobile .open-button.hidden,
  nav .mobile .close-button.hidden {
    display: none;
  }
  nav .menu.show,
  nav .menu.show .left-side,
  nav .menu.show .right-side {
    display: flex;
    flex-direction: column;
  }
  nav .right-side a {
    margin-top: 5px;
    width: -moz-fit-content;
    width: fit-content;
    color: black;
  }
  nav .right-side a:hover {
    background: hsl(355, 100%, 74%);
    color: #fff;
  }
  nav header {
    width: 100%;
  }
  nav header .header-area .title {
    font-size: 30px;
  }
  .content-area1 {
    flex-direction: column-reverse;
    text-align: center;
  }
  .content-area1 .content {
    text-align: center;
  }
  .content-area1 .desktop-picture {
    display: none;
  }
  .content-area1 .mobile-picture {
    display: block;
  }
  .content-area2,
  .content-area3 {
    flex-direction: column;
    text-align: center;
  }
  .content-area3 .desktop-picture-2 {
    display: none;
  }
  .content-area3 .mobile-picture-2 {
    display: block;
  }
  footer {
    flex-direction: column;
  }
  footer .footer-area {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */